*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@font-face {
  font-family: 'ostrichSans';
  src: url("../fonts/OstrichSans-Medium.otf");
}

@font-face {
  font-family: 'raleway';
  src: url("../fonts/Raleway-Regular.ttf");
}


body {
  background: url("../img/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  font-family: 'raleway';
  min-width: 485px;
}

.fullPageContainer {
  margin: 0 auto;
  width: 85%;
  height: 2000px;
}

a {
  color: white;
  text-decoration: none;
}

.quote {
  clear: both;
  padding-top: 10%;
  padding-bottom: 5%;
}
.quote h3, hr {
  color: white;
  text-align: center;
  opacity: .6;
  font-weight: lighter;
}



/* Navigation ---------------------*/


.nav {
  height: 300px;
}

.nav img {
  width: 50%;
  position: fixed;
  opacity: .4;
  min-width: 400px;
}

.nav ul {
  overflow: auto;
  float: right;
  color: white;
  width: 30%;
  padding-left: 0;
}

.nav li {
  float: right;
  list-style-type: none;
  margin: 23% 2% 10% 4%;
  opacity: .6;
  font-size: 1.2em;
}

.nav li:hover {
  font-size: 1.4em;
  opacity: 1;
}

/* description -------------------------*/

.description {
  float: left;
  font-size: 1em;
  /*border: 1px solid red;*/
  line-height: 1.5em;
  width: 58%;
  color: white;
  margin: 3% 0 10% 0;
  padding: 5% 5% 2% 0;
}

/* gallery -------------------------*/
.facesHeading {
  clear: both;
  color: white;
  margin: 0 auto;
  text-align: center;
  margin-top: 20%;
}
.imageGallery {
  float: left;
  margin: 0 auto;
  clear: both;
  padding-left: 5%;
}

.imageGallery img {
  width: 25%;
  max-width: 200px;
  border-radius: 50%;
  opacity: .65;
  margin: 1%;
}

.doctors img:hover {
  border: 2px solid white;
  opacity: 1;
}

/* MEDIA QUERIES -------------------------*/

@media screen and (max-width: 1200px){
  .nav li {
    float: none;
    text-align: right;
    padding-right: 10%;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 20%;
  }

  .imageGallery {
    padding-left: 0;
  }
  .imageGallery img{
    width: 35%;
  }
}

@media screen and (max-width: 825px) {
  .nav ul {
    float: none;
    overflow: auto;
    width: 100%;
    display: block;
    padding-top: 230px;
    margin: 0 auto;
  }
  .nav a li {
    float: right;
    margin: 0 auto;
  }


  .description {
    width: 85%;
    margin: 0 auto;
  }

  .quote {
    width: 65%;
  }
}
